  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
  }
  #cameraView {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
  }
  #toggleButton {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  #cameraLabel {
    position: absolute;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: bold;
    padding: 5px;
    transform: scale(1.2);
  }
@media (min-width: 430px) {
  #cameraLabel {
  left: 117px;
  text-align: center;
  }
}
@media (max-width: 430px) {
  #cameraLabel {
  font-size: 16px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  }
}
.right-top {
	position: absolute;
	font-weight: bold;
	color: white;
	top: 0;
	right: 70px;
}
